doctype html
html
  head
    title Tip Tracker
    //- Import Google Icon Font
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    //- Import Materialize 
    link(rel="stylesheet", type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    //- Need mobile testing
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    include navbar.pug
    div.container
      block content